<!DOCTYPE html>
<html>

<head>
    <title>Create Account</title>
</head>

<body style="background:pink">
    <h2 style="color:red">Create New Account</h2>
    <form method="post"">
        Account Number: <input type="number" name="account_number" required><br><br>
        Full Name: <input type="text" name="full_name" required><br><br>
        Phone Number: <input type="number" name="phone_number" required><br><br>
        <input type="submit" value="Create Account" style="color:red">
    </form>
</body>

</html>